@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #101111;
  --main-text-color: #e7eae0;
  --secondary-text-color: #adb0b1;
  --main-border-color: #2b3031;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--main-text-color);
  background: var(--main-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
